		*{
			margin:0;
			padding:0;
			border:0;
			flex-wrap:wrap;
		}

		h1{
			font-size: 2.5em;
			text-align: center;
			margin:300px
		}

		h3{
			font-size: 2em;
			text-align: center;
			width: 75%;
			padding-left: 5px;
			margin-left: 20px;
			color:red;
			margin:200px
		}

		#bt{
			display: flex;
			width: 95%;
		}

		#bt p{
			font-size: 1.2em;
			text-align: left;
			width: 75%;
			padding-left: 5px;
			margin-left: 20px;
			color:red;
		}

		#box{
			width: 300px;
			height: 230px;
			border:solid black;
			margin:20px;
		}

		#pic{
			width: 270px;
			height: 200px;
			border:solid black;
			margin:30px;
		}

		#bt2{
			display: flex;
			width: 95%;
		}

		#bt2 p{
			font-size: 1.2em;
			text-align: left;
			width: 75%;
			padding-left: 15px;
			margin-left:5px;
			color:red;
		}

		.para{
			background:url("images/pitbull.jpeg") 100% fixed;
			background-repeat: no-repeat;
			background-attachment: fixed;
    		background-position: center;
   		 	background-repeat: no-repeat;
    		background-size: cover;
		}

		.para2{
			background:url("images/dogs.jpg") 100% fixed;
			background-repeat: no-repeat;
			background-attachment: fixed;
    		background-position: center;
   		 	background-repeat: no-repeat;
    		background-size: cover;
		}

		.para3{
			background:url("images/dogg.jpeg") 100% fixed;
			background-repeat: no-repeat;
			background-attachment: fixed;
    		background-position: center;
   		 	background-repeat: no-repeat;
    		background-size: cover;
		}
		.parainner{
			padding:400px;
		}
